{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block pretitle %}
  <div id="content-main">
    <div class="app-cloudberry_radius module">
      <table>
        <caption>
          <a href="javascript: void(0);" class="section">{% block title %}{% endblock %}</a>
        </caption>
        <tbody><tr class="account-balance">
          <td scope="row" style='width: 100%;'>
{% endblock %}

{% block content_title %}{% endblock %}

{% block sidebar %}
          </td><td></td>
        </tr></tbody>
      </table>
    </div>
  </div>
{% endblock %}
