{% extends "base.html" %}
{% load i18n %}
{% load fullurl %}

{% block title %}Django Registration Test App{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'index' %}">{% trans 'Home' %}</a>
&rsaquo; Account balance
</div>
{% endblock %}

{% block content %}

  <h1>Data usage & account balance</h1>

  <div style="margin-bottom: 20pt;">
    <span style='font-size: 48pt;'>Current balance:</span>
    <span style='font-size: 48pt; {% if balance > 0 %}background: #eeffee; color: #00aa00;{% else %}background: #ffeeee; color: #aa0000;{% endif %}'>{{balance|default_if_none:"0.0"}}</span>
  </div>

  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" style="margin-bottom: 20pt;">
    <INPUT TYPE="hidden" NAME="return" value="{% fullurl 'cloudberry_radius:payment_done' %}">
    <input type="hidden" name="business" value="igcloudberry@gmail.com">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="item_name" value="Cloudberry Points">
    <input type="hidden" name="currency_code" value="USD">

    <input type="hidden" name="on0" value="strong>quantity">
    Enter the number of Cloudberry Points:
    <input type="number" name="amount" placeholder="10" step="1" min="0" value="10">
    <span class="validity"></span>

    <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
      alt="Buy Now">
    <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
  </form>
  
  {% if accounting %}
    <table>
      <tr>
        <th>Time</th>
        <th>Amount</th>
        <th>Duartion</th>
        <th>Input (Bytes)</th>
        <th>Output (Bytes)</th>
        <th>Your IP-address</th>
        <th>Access point ID</th>
        <th>Access point group</th>
      </tr>
      {% for row in accounting %}
        <tr>
          <td>{{row.start_time|default_if_none:""}}</td>
          <td>{{row.amount|default_if_none:""}}</td>
          <td>{{row.duration|default_if_none:""}}</td>
          <td>{{row.input_octets|default_if_none:""}}</td>
          <td>{{row.output_octets|default_if_none:""}}</td>
          <td>{{row.framed_ip_address|default_if_none:""}}</td>
          <td>{{row.device.id|default_if_none:""}}</td>
          <td>{{row.device.group.name|default_if_none:""}}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>You have not used any data yet.</p>
  {% endif %}

{% endblock %}

